<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        #ts{margin-top: 40px; font-size: 80px; font-weight: bold; color: black;
            text-shadow: 0 0 4px #ccc,
            0 -5px 4px #ff3,
            2px -10px 6px #fd3,
            -2px -15px 11px #f80,
            2px -19px 18px #f20;}
        .btn{height: 40px; color: white; background-color: black; border-radius: 5px;}
        input{height: 40px; border-radius: 5px; border: 1px solid orangered;}
    </style>
</head>
<body  style="text-align: center;">
<h1 id="ts">로그인</h1>
<hr>
<form th:action="@{/member/login}" method="post">
<!--<form action="/member/login" method="post">-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

    <label>
        <input type="text" name="username" placeholder="아이디">
    </label>
    <label>
        <input type="password" name="password" placeholder="비밀번호">
    </label>
    <button type="submit" class="btn">로그인</button>

    <!--
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 를 사용하여
    csrf 토큰을 생성할 수 있습니다.
    form 기본 action tag 가 아닌 ht:action="@{/member/login}"을 사용하면
    csrf 를 자동으로 생성하여 요청을 보내주어 위의 코드를 추가하지 않아도 된다고 합니다.
    -->
</form>
</body>
</html>